#testform {
	display: none;
}

body {
	padding: 0;
	margin: 0;
	font-family: Tahoma, Arial, Roboto, "Droid Sans", "Helvetica Neue", "Droid Sans Fallback", "Heiti SC", sans-self;
	color: #666;
	background-color: #ecefef;
}

p {
	padding: 0;
	margin: 0;
}

.page {
	/*width: 90%;*/
	margin: 0 auto;
	/*min-height: 400px;*/
	background-color: #fff;
	margin-top: 25px;
	/*border-radius: 7px;
	padding-top: 20px;*/
}

.container {
	width: 60%;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 10%;
	background-image: url(../img/add.png);
	background-repeat: no-repeat;
	background-size: 100% 97%;
	display: block;
	position: relative;
	z-index: 10;
	overflow: hidden;
	
}
.slot {
	width: 54%;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 20%;
	display: block;
	position: relative;
	z-index: 10000;
	display: none;
}

.renews{

width: 30%;
height: 35px;
line-height: 35px;
margin: 0 auto;
border: 1px solid #33B1A5;
border-radius:5px ;
text-align: center;
margin-top: 15px;
display: none;

}
.btngroup {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	border-radius: 5px;
	display: none;
	height: 120px;
}

.btngroup p {
	text-align: center;
	width: 100%;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
}

.container img {
	width: 100%;
	height: 100%;
	object-fit:cover;
}

.edit {
	border-bottom: 1px solid #999;
	border-top: 1px solid #999;
}

.graph {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 25px;
	z-index: 100;
	text-align: center;
}

#bar {
	display: block;
	background: #33b1a5;
	float: left;
	height: 100%;
	text-align: center;
	font-family: Verdana;
	line-height: 25px;
	color: #FFF;
	font-size: 14px;
}

.fixed {
	width: 100%;
	background-color: #000000;
	opacity: 0.8;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;	
	right: 0;
	display: none;
	bottom: 0;
}

.fixed_head {
	width: 100%;
	background-color: #fff;
	height: 35px;
	line-height: 35px;
	position: fixed;
	z-index: 101;
	top: 0;
	display: none;
	left: 0;
	right: 0;
	font-size: 13px;
	    text-align: center;
}
.slot img{
	width: 100%;
	height: 100%;
}
.fixed_head a {
	border: 1px solid #6699FF;
	height: 25px;
	line-height: 25px;
	margin-top: 5px;
	padding: 0 10px;
	border-radius: 5px;
	color: #6699FF;
}

.cancelone {
	float: left;
	margin-left: 10px;
}

.confirm {
	float: right;
	margin-right: 10px;
}

.fixed_bottom {
	width: 100%;
	display: none;
	background-color: #000;
	height: 140px;
	line-height: 35px;
	position: fixed;
	z-index: 101;
	bottom: 0;
	    text-align: center;
	left: 0;
	right: 0;
	font-size: 13px;
}

.fixed_bottom img {
	width: 35px;
	margin-top: 50px;
	display: inline-block;
	margin-left: 4%;
}
#cropper{

position: absolute;
z-index: 1;
border: 1px solid red;
display: none;
}
.cropper-face{
position: absolute;
z-index: 10;
}
